/* GENERAL */

*{
  box-sizing: border-box;
}

*::before,
*::after{
  box-sizing: inherit;
}

html{
  height: 100%;
  box-sizing: border-box;
}

img{
  display: block;
  height: auto;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  background-color: #F9F7F7;
}

/* STICKY-FOOTER */
.site-main{
  flex-grow: 1;
}