body{
    background-color: #fff;
}
.about{
    position: relative;
    padding-top: 89px;
    padding-bottom: 100px;
}
.about__line{
    position: absolute;
    top: 89px;
    // left: calc(50% - 1024px);
    left: 0px;
    width: 700px;
    margin: 0;
}
.about__title-box{
    width: 100%;
    max-width: 674px;
    margin-right: auto;
    margin-left: auto;
}
.about__title{
    margin: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 40px;
    line-height: 39px;
    text-align: center;
    color: #000000;
}
.about__title-span{
    color: #E21F25;
}

.about__images-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    // flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}
.about__images-item{
    margin-right: 30px;
}
.about__images-item:nth-child(2){
    margin-top: 150px;
    margin-bottom: 30px;
}

.about__text-box{
    width: 100%;
    max-width: 554px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}
.about__text{
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #1D1D1B;
}

.about__line-last{
    position: absolute;
    bottom: 50px;
    right: 0px;
    width: 700px;
    margin: 0;
}


@media only screen and (max-width: 1366px) {
    .about__images-list{
        justify-content: space-between;
    }
    .about__images-item{
        margin-right: 0;
    }
    .about__title{
        font-size: 32px;
    }
}

@media only screen and (max-width: 1276px) {
    .about__images-list{
        position: relative;
        top: -250px;
        justify-content: center;
    }
    .about__images-item:nth-child(2){
        margin-top: 550px;
    }
    .about__images-item:nth-child(1){
        position: absolute;
        top: 300px;
        left: 150px;
    }
    .about__images-item:nth-child(3){
        position: absolute;
        bottom: -220px;
        left: 150px;
    }
    // .about__text{
    //     margin-top: 300px;
    // }
}


@media only screen and (max-width: 718px) {
    .about__line-last{
        display: none;
    }
    .about__line{
        display: none;
    }
}

@media only screen and (max-width: 641px) {
    .about__images-item:nth-child(2) .about__item-img{
        // max-width: 450px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    .about__images-item:nth-child(1) .about__item-img{
        // max-width: 450px;
        width: 100%;
    }
    .about__images-item:nth-child(3) .about__item-img{
        // max-width: 450px;
        width: 100%;
    }
    .about__title{
        font-size: 22px;
    }
}

@media only screen and (max-width: 484px) {
    .about__images-item:nth-child(1){
        left: 70px;
    }
    .about__images-item:nth-child(3){
        left: 70px;
    }
}


@media only screen and (max-width: 375px) {
    .about__title{
        margin-top: 30px;
        font-size: 18px;
    }
    .about__images-item:nth-child(1){
        left: 10px;
        top: 290px;
    }
    .about__images-item:nth-child(3){
        left: 10px;
        bottom: -230px;
    }
}