*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.carousel {
    // width: 100vw;
    height: 100vh;
    position: relative;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.hero__deco-text{
    position: absolute;
    // top: 0;
    bottom: -130px;
    right: -150px;
}
.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    // color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    // padding: 0 .5rem;
    // padding: 10px 10px;
    // background-color: rgba(0, 0, 0, .1);
}
.intensiv__btn-box{
    top: 505px;
    padding: 20px;
}
.teatral__btn-box{
    top: 505px;
    padding: 20px;
}
.carousel-button:hover{
    background-color: #fff;
}


.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}

.slide{
    height: 100vh;
    background: transparent;
}

.slide:nth-child(1){
    width: 100%;
    // max-width: 1540px;
    background-image: url("../images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.slide:nth-child(2){
    width: 100%;
    // max-width: 1400px;
    background-image: url("../images/hero-bg-two.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.slide:nth-child(3){
    width: 100%;
    // max-width: 1400px;
    background-image: url("../images/hero-bg-three.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-back{
    position: absolute;
    top: 1026px;
    right: 610px;
    background-color: transparent;
    color: transparent;
}
.btn-next{
    position: absolute;
    top: 1028px;
    right: 310px;
    background-color: transparent;
    color: transparent;
}
.slide:nth-child(2) .hero__deco-text{
    bottom: -240px;
}
.slide:nth-child(3) .hero__deco-text{
    bottom: -243px;
}
.carousel-button:hover{
    background-color: transparent;
}


@media only screen and (max-width: 1000px) {
    // .slide:nth-child(1){
        //     // max-width: 1000px;
        //     // background-size: contain;
        // }
        
        .hero__title{
            font-size: 30px;
        }
    }
    
    @media only screen and (max-width: 800px) {
        .hero__link{
            max-width: 170px;
            padding: 10px;
        }
    }
    
    @media only screen and (max-width: 700px) {
        .slide:nth-child(1){
            background-size: cover;
            // background-position: calc(50% - 80px) calc(50%);
        }
    }
    
    @media only screen and (max-width: 600px) {
        .slide:nth-child(1){
            background-size: cover;
            background-position: calc(50% - 450px) calc(50%);
            background-repeat: repeat;
        }
    }
    
    @media only screen and (max-width: 500px) {
        .slide:nth-child(1){
            background-size: cover;
            background-position: calc(50% - 150px) calc(50%);
            background-repeat: repeat;
        }
        .hero__title{
            font-size: 23px;
        }
        .hero__link{
            padding: 8px;
            font-size: 18px;
        }
    }
    
    @media only screen and (max-width: 450px) {
        .slide:nth-child(1){
            background-size: cover;
            background-position: calc(50% - 190px) calc(50%);
        }
    }
    
    
    // max width mackbook 
    
    @media only screen and (max-width: 1900px) {
        .slide{
            width: 100%;
            max-width: 1900px;
            
            // background-size: contain;
        }   
        .hero__deco-text{
            bottom: -100px;
            right: -150px;
        }
        .btn-back{
            top: 1001px;
            right: 535px;
        }
        .btn-next{
            top: 1003px;
            right: 240px;
        }
    }
    
    @media only screen and (max-width: 1800px) {
        .btn-back{
            right: 488px;
        }
        .btn-next{
            right: 190px;
        }
    }
    @media only screen and (max-width: 1700px) {
        .hero__deco-text {
            right: -100px;
        }
    }
    @media only screen and (max-width: 1600px) {
        .slide{
            background-position: calc(50%) calc(50%);
        }
        .hero__deco-text {
            right: -50px;
        }
    }
    
    @media only screen and (max-width: 1500px) {
        .modal{
            max-width: 800px;
        }
        .hero__deco-text {
            right: -4px;
        }
    }
    @media only screen and (max-width: 1400px) {
        .hero__deco-text {
            right: 40px;
        }
    }
    @media only screen and (max-width: 1300px) {
        .slide{
            background-position: calc(50% - 100px) calc(50%);
            background-repeat: repeat;
        }
    }
    
    @media only screen and (max-width: 1200px) {
        .slide{
            background-position: calc(50% - 200px) calc(50%);
            background-repeat: repeat;
        }
    }
    @media only screen and (max-width: 1100px) {
        .modal{
            max-width: 600px;
        }
    }
    @media only screen and (max-width: 1000px) {
        .slide{
            background-position: calc(50% - 300px) calc(50%);
            background-repeat: repeat;
        }
        .hero__deco-text {
            bottom: -155px;
        }
    }
    @media only screen and (max-width: 800px) {
        .slide{
            background-position: calc(50% - 400px) calc(50%);
            background-repeat: repeat;
        }
    }
    @media only screen and (max-width: 700px) {
        .slide{
            background-position: calc(50% - 400px) calc(50%);
            background-repeat: repeat;
        }
    }
    
    @media only screen and (max-width: 400px) {
        .hero__deco-text{
            bottom: 79px;
            width: 245px;
        }
        .btn-next{
            top: 537px;
            right: 109px;
        }
        .btn-back{
            top: 537px;
            right: 291px;
        }
    }