body{
    background-color: #000;
    overflow-x: hidden;
}
.site-header{
    position: absolute;
    // right: calc(50% - 949px);
    width: 100%;
    // max-width: 1880px;
    margin-right: auto;
    margin-left: auto;
    height: 100px;
    display: flex;
    align-items: center;
    z-index: 5;
}
.site-header__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-header__logo{
    position: absolute;
    top: 3px;
    width: 118px;
    height: 63px;
    margin-left: auto;
}
.site-header__link{
    width: 192px;
    margin-left: auto;
    padding: 16px 0px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: 1px solid #f00;
}
.site-header__link:hover{
    background-color: #f00;
    transition: 1s;
}



.modal{
    position: absolute;
    width: 100%;
    max-width: 1015px;
    display: none;
    background-color: #1D1D1B;
    z-index: 5;
}
.modal__active{
    height: 100vh;
    display: block;
    position: absolute;
}
.modal__hamburger{
    position: absolute;
    top: 32px;
    left: 50px;
    width: 39px;
    height: 20px;
    padding: 15px;
    z-index: 1;
    background-image: url("../images/hamburger-img.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
}
.modal__wrapper{
    margin-top: 160px;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    flex-direction: column;
}
.modal__cancel{
    position: absolute;
    top: 40px;
    left: 100px;
    width: 24px;
    height: 24px;
    background-image: url("../images/x-vektor.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
}
.modal__logo{
    margin-bottom: 93px;
}
.modal__list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.modal__item{
    margin-bottom: 40px;
    border: 2px solid transparent;
    // border-radius: 50%;
}
.modal__item:last-child{
    margin-bottom: 15px;
}
.modal__link{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #fff;
    text-decoration: none;
}
.modal__item:hover{
    // padding: 5px 0px;
    border: 2px solid #E21F25;
    border-radius: 50%;
    transform: matrix(1, -0.04, 0.07, 1, 0, 0);
    transition: 0.5s;
}
.modal__under-list{
    margin: 0;
    margin-top: 28px;
    padding: 0;
    list-style: none;
}
.modal__under-item{
    margin-bottom: 30px;
}
.modal__under-link{
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #fff;
}
.modal__under-social{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.modal__under-socialitem{
    margin-right: 20px;
}


@media only screen and (max-width: 1200px) {
    .site-header{
        right: calc(50% - 580px);
    }
}
@media only screen and (max-width: 1100px) {
    .site-header{
        right: calc(50% - 520px);
    }
}
@media only screen and (max-width: 1000px) {
    .site-header{
        right: calc(50% - 480px);
    }
}


@media only screen and (max-width: 900px) {
    .site-header{
        right: calc(50% - 420px);
    }
    .site-header__link{
        width: 150px;
        padding: 12px 0px;
    }
    .modal__hamburger{
        width: 25px;
        height: 20px;
        background-size: cover  ;
    }
}

@media only screen and (max-width: 800px) {
    .site-header{
        right: calc(50% - 391px);
    }
    .site-header__link{
        margin-left: 500px;
    }
}

@media only screen and (max-width: 700px) {
    .site-header{
        right: calc(50% - 340px);
    }
    .site-header__logo{
        right: 20px;
    }
    .site-header__link{
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .site-header{
        right: calc(50% - 290px);
    }
}

@media only screen and (max-width: 500px) {
    .site-header{
        right: calc(50% - 240px);
    }
    .modal__hamburger{
        width: 20px;
        height: 20px;
        background-size: contain;
    }
}

@media only screen and (max-width: 450px) {
    .site-header{
        right: calc(50% - 200px);
    }
}

@media only screen and (max-width: 400px) {
    .site-header{
        right: calc(50% - 150px);
    }
    .site-header__logo{
        right: -5px;
    }
}


// max width for mackbook

@media only screen and (max-width: 1920px) {
    
}