.teatral{
    position: relative;
    padding-top: 89px;
} 
.carousel {
    position: relative;
}
.teatral__caru-box{
    width: 100%;
    max-width: 1000px;
    height: 573px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border: 1px solid #777776;
}
.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.teatral__list{
    position: absolute;
    right: 60px;
    width: 100%;
    max-width: 1000px;
    height: 500px;
}
.teatral__list li{
    position: absolute;
    top: 15px;
    left: -30px;
    width: 100%;
    max-width: 1062px;
    height: 513px;
}
.teatral__video{
    width: 100%;
    max-width: 1062px;
    height: 513px;
    border: none;
}
.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    cursor: pointer;
}
.teatral__btn-box{
    position: absolute;
    top: 510px;
    right: 7%;
    width: 100%;
    max-width: 90px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-right: 19px;
    padding-bottom: 11px;
    padding-left: 19px;
    justify-content: space-between;
    background-color: #000;
    z-index: 10;
}
.prev{
    width: 100%;
    max-width: 8px;
    height: 14px;
    margin-left: -10px;
    background-image: url("../images/vektor-left.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #000;
    padding: 15px;
    border: none;
}

.next{
    width: 100%;
    max-width: 8px;
    height: 14px;
    margin-right: -10px;
    background-image: url("../images/vektor-right.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #000;
    padding: 15px;
    background-position: calc(50%);
    border: none;
}
.teatralspan{
    display: inline-block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    border: 0.5px solid #1D1D1B;
    transform: rotate(-90deg);
}
.teatral__info-box{
    position: absolute;
    top: 700px;
    left: calc(50% - 670px);
    width: 100%;
    max-width: 900px;
    padding-top: 70px;
    padding-right: 188px;
    padding-bottom: 106px;
    padding-left: 400px;
    background-color: #fff;
    background-image: url("../images/decoration-left.png");
    background-repeat: no-repeat;
    z-index: 12;
}
.teatral__info-title{
    margin: 0;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #E21F25;
}
.teatral__info-text-box{
    width: 100%;
    max-width: 328px;
}
.teatral__info-text{
    margin: 0;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
.teatral__info-member{
    display: block;
    margin-bottom: 90px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    opacity: 0.6;
}
.teatral__info-link{
    display: inline-block;
    padding: 16px 50px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1D1D1B;
    border: 1px solid #E21F25;
    text-decoration: none;
}
.teatral__info-link:hover{
    background-color: #E21F25;
    color: #fff;
    transition: 1s;
}

.intensiv{
    margin-top: 591px;
}
.intensiv__img{
    position: absolute;
    // top: 900px;
    bottom: calc(50% + 20px);
    right: calc(50% - 600px);
}



.inrensiv__info-box{
    position: absolute;
    bottom: calc(50% - 800px);
    right: calc(50% - 670px);
    width: 100%;
    max-width: 900px;
    padding-top: 70px;
    padding-right: 400px;
    padding-bottom: 106px;
    padding-left: 188px;
    background-color: #fff;
    background-image: url("../images/decoration-right.png");
    background-position: calc(50% + 370px) calc(50%);
    background-repeat: no-repeat;
    z-index: 12;
}
.slide-intensiv{
    position: absolute;
    top: 15px;
    left: 130px;
    width: 100%;
    max-width: 1062px;
    height: 513px;
    list-style: none;
}
// .slide-intensiv > iframe{
    //     right: 200px;
    // }
    .intensiv__btn-box{
        position: absolute;
        top: 510px;
        left: 17%;
        width: 100%;
        max-width: 90px;
        display: flex;
        align-items: center;
        padding-top: 10px;
        padding-right: 19px;
        padding-bottom: 11px;
        padding-left: 19px;
        justify-content: space-between;
        background-color: #000;
        z-index: 10;
    }
    
    
    .banket{
        position: relative;
        margin-top: 492px;
    }
    
    .banket__info-box{
        position: absolute;
        top: 590px;
        left: calc(50% - 670px);
        width: 100%;
        max-width: 900px;
        padding-top: 70px;
        padding-right: 188px;
        padding-bottom: 106px;
        padding-left: 400px;
        background-color: #fff;
        background-image: url("../images/decoration-left.png");
        background-repeat: no-repeat;
        z-index: 12;
    }
    